@import "../../../styles/them.scss";
::ng-deep .forget_pass-dialog {


    code-input{
        width: 17rem;
    }
    code-input.succes{
        input{
            border-color: $input_success_border_color !important ;
        }
    
    
    }
    code-input.wrong{
        input{

            border-color: $input_wrong_border_color !important ;
        }
    }
    .mat-mdc-dialog-surface{
        background-color: $light_backgrond_color !important;
        display: block;
        overflow: unset;
    }



}


.forget_password-box{
    position: relative;
    height: 100%;
    // overflow-y: overlay;

    .forget_pass_title{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        p{
            font-weight: bold;
            font-size: x-large;
            margin: 0;
        }
    }
    ::ng-deep nb-card{
        padding: 1rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .header{
            display: none;
        }
        .stepper-lebel{
            font-weight: bold;
        }
        .button{
            justify-content: center;
            display: flex;
            margin-top: 1rem;
            button{
                background: $button_submit_color;
                color: #fff;
                margin: 0 .5rem;
                width:  $button_width;
                height: $button_height;
            }
        }

        .code-box{
            justify-content: center;
        }
    }

}


.error{
    position: absolute;
    width: 100%;
    top: 4rem;
    background:$input_wrong_border_color ;
    margin: 3px 0;
    border-radius: 4px;
    color: $font_color_light;

    small{
        padding: 13px;
        
    };
}

.success{
    background:$input_success_border_color ;
    margin: 3px 0;
    border-radius: 4px;
    color: $font_color_light;

    small, p{
        padding: 13px;
        
    };
}


::ng-deep .spinner{
    position: absolute !important;
    top: 8rem;
    left: 16rem;
    svg{
        stroke: $spinner_color !important;
    }
}

.register{
    height: 100%;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    padding: 1rem;
}

form{
    width: 100%;
    .form-control:focus{
        box-shadow: none;
    }

    button{
        background: $button_submit_color;
        margin-top: 30px !important;
        color:  $button_font_color;
        width:  $button_width;
        height: $button_height;

    }
    .hide{
        display: none;
    }

    .invalid{
        border-color: $input_wrong_border_color;
    }
    .valid, .valid:focus{
        border-color: $input_success_border_color;
    }
    label{
        margin-top: 15px;
    }
}


.error{
    background:$input_wrong_border_color ;
    margin: 3px 0;
    border-radius: 4px;
    color: $font_color_light;

    small{
        padding: 13px;
        
    };
}

.success{
    background:$input_success_border_color ;
    margin: 3px 0;
    border-radius: 4px;
    color: $font_color_light;

    small, p{
        padding: 13px;
        
    };
}

::ng-deep .pass-input{
    span{
        height: 40px;
        justify-content: center;
    }
    position: relative;
    .pass-visible{
        height: 40px;
        

        button{
            padding: 0;
            height: 40px;
            position: absolute;
            top: 3px;
            right: 0;
            
        }

    }

}

::ng-deep mat-slide-toggle{
    margin: 0 !important;
    small{
        color: $small_font_color;
    }
    .mdc-switch__track::after {
        background: $button_submit_color!important;
    }
    .mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after {
        background:#598bff !important ;
    }

}

.password_hint{
    
    margin-bottom: 10px;
    ::ng-deep mat-password-strength{
        .mdc-linear-progress__buffer{
            display: none !important;
    
        }
        mat-progress-bar{
            &.mat-primary{
                span{
                    border-color: $success_background;
                }
            }
            &.mat-warn{
                span{
                    border-color: $warning_background;
                }
            }

        }
    }
    ::ng-deep mat-password-strength-info{
        mat-card{
            background-color: $light_backgrond_color;
            .mat-primary{
                color: $icon_success_color;
            }
            .mat-warn{
                color: $icon_warning_color;
            }


        }
    }


}

.new-password{
    display: flex;
    flex-direction: column;

}

