<div class="home_box" >
    <div class="search_bar">
        <app-search (searchEmitter)="searchData($event)" ></app-search>
    </div>
    <div class="items-list" *ngIf="adsData; else notFoundBlock">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let obj of adsData">
                <div class="items" (click)="onDetailView(obj)">
                    <div class="content" >
                        <div class="title">
                            <p>{{obj.title}}</p>
                        </div>
                        <div class="price" >
                            <p>Price: {{obj.Price}} </p>
                        </div>
                        <div class="city" >
                            <p>City: {{obj.City}}</p>
                        </div>
                    </div>
                    <div class="chat" >
                        <nb-icon icon="message-circle-outline" ></nb-icon>
                    </div>
                    <div class="image" *ngIf="obj.images.length > 0 ; else elseBlock" >
                        <img [src]="obj.images[0]['image']" alt=""  >
                    </div>
                    <ng-template  #elseBlock>
                        <div class="image">
                            <img src="assets/profile_img/profile.png" alt="" >
                        </div>
                    </ng-template>
                </div>
            </li>
        </ul>
    </div>
    <ng-template #notFoundBlock>
        <app-not-found></app-not-found>
    </ng-template>
</div>