<div class="home_box" >
    <div class="search_bar">
        <app-search></app-search>
    </div>
    <div class="items-list">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="items">
                    <div class="content" >
                        <p>title</p>
                        <p>price</p>
                        <p>city</p>
                    </div>
                    <div class="chat" >
                        <nb-icon icon="message-circle-outline" ></nb-icon>
                    </div>
                    <div class="image">
                        <img src="" alt="">

                    </div>

                </div>
            </li>
        </ul>
    </div>
</div>
