@font-face {
    font-family: 'TimeNewRoman';
    src: url("../../assets/fonts/times_new_roman.ttf");

  }


$light_backgrond_color: #fff;

$small_font_color: #212529;
$brand_font_family: 'TimeNewRoman';
$brand_font_size: 2.1rem;
$side_bar_expanded_width:256px;
$header_navbar_height : 3rem;
$header_font_color: #ffff;

$header_navbar_background : #748DA6;
$header_navbar_color: #536066c7;


$side-bar_background_color: #9CB4CC;

$button_submit_color: #0d6efd;
$button_font_color: #ffff;
$button_width: 90px;
$button_height: 40px;
$button_icon_color: #212529;

$input_success_border_color: #0d6efd;
$input_wrong_border_color: #e76f51;
$input_border_color: #ced4da;

$font_color_light : #ffff;

$warning_background : #e76f51;
$success_background : #0d6efd;

$icon_success_color: #0d6efd;
$icon_warning_color: #e76f51;
$icon_color: #0d6efd;

$search_icon_color: #748DA6;
$search_border_color: #748DA6;
$search_drop_font_color: #000;


$refrence_tag_color: #0d6efd;

$new_height: 50px;

$spinner_color:#0d6efd;

$body_background_color: rgb(245, 244, 244);