<div class="col-xs-12 col-md-6 col-md-offser-3" >
    <ng-container *ngIf="(loginError && !loadingSpinner )" >
        <div class="alert alert-danger error" role="alert"   >
            {{loginError}}
          </div>
    </ng-container> 
    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)" *ngIf="!loadingSpinner" >
        <div class="form-group">
            <label for="email">email</label>
            <input type="email"
                id="email"
                placeholder="email@gmail.com" 
                class="form-control" 
                [ngClass]="{'invalid' : (loginForm.controls['email'].errors && loginForm.controls['email'].touched) ,'valid': (!loginForm.controls['email'].errors && !loginForm.controls['email'].pristine)}" 
                name="email" 
                formControlName="email">

            <div class="error" >
                <small *ngIf="!loginForm.controls['email'].value && loginForm.controls['email'].touched "> email is required!</small>
                <small *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].errors && loginForm.controls['email'].value">please enter valid email address!</small>
            </div>

            <label for="password">password</label>
            <div class="pass-input">  
                <mat-pass-toggle-visibility class="pass-visible" #toggle></mat-pass-toggle-visibility>     
                <input class="form-control mt-1 mb-2" matInput #password
                    formControlName="password"
                    [type]="toggle.type"
                    id="password"
                    [class]="{ 'invalid': (loginForm.controls['password'].errors && loginForm.controls['password'].touched ), 'valid' : !loginForm.controls['password'].pristine && ! loginForm.controls['password'].errors }"
                    >
                
            </div>
                
                <div class="error" >
                    <small *ngIf="!loginForm.controls['password'].value && loginForm.controls['password'].touched" > password is required! </small>
                </div>
                <div class="form-info" >
                    <small> <a > forgot password? </a> </small>
                    <small (click)="onRegisterForm()"> <a > didn't have an account? register! </a> </small>
                </div>

            <button type="submit" class="btn mt-1"  [disabled]="!loginForm.valid">LogIn</button>
        </div>
    </form>
    <div class="spinner">
        <mat-spinner class="col-xs-12 col-md-6 col-md-offser-3" *ngIf="loadingSpinner"></mat-spinner>
    </div>

</div>