
<div class="app_box" *ngIf="!showLogo">
    <div class="user-verify" *ngIf="verifySatus">
        <div 
        [class]="{'verified' : (verifySatus === 'verified') , 'not_verified': (verifySatus === 'not_verified')}">
            <p *ngIf="verifySatus=='not_verified'" >Your email did not verify. click <a (click)="onVerifyEmail()"> here</a>  to verify</p>
            <p *ngIf="verifySatus=='verified'" >your verification has been successfully</p>
        </div>
    </div>
<router-outlet></router-outlet>
</div>


<app-header *ngIf="!showLogo"></app-header>

<div class="logo" *ngIf="showLogo">
    <img src="assets/logo_vini.png" alt="">
</div>