
@import "./styles/them.scss";

::ng-deep body{
    background: $body_background_color ;
}

@media (max-width: 408px) {
    ::ng-deep body {
      display: flex; /* Change this to whatever display property you want */
    }
  }
.app_box{
    // margin-top: 1rem;
    margin-bottom: 5px;
    height: calc(100% - 3.5rem  );

}


::ng-deep app-user{

    width: 100%;
}


.user-verify{

    width: 100%;
    height: 50px;
    .not_verified{
        padding: 0 1rem;
        background:$input_wrong_border_color ;
        border-radius: 4px;
        color: $font_color_light;
        height: 100%;
        display: flex;
        align-items: center;
        p{
            margin: 0;
        }
        a, a:hover{
            text-decoration: underline;
            color: blue;
            cursor: pointer;
        }


    }
    
    .verified{
        padding: 0 1rem;
        background:$input_success_border_color ;
        border-radius: 4px;
        color: $font_color_light;
        height: 100%;
        display: flex;
        align-items: center;
        p{
            margin: 0;
        }
    
    }
}

.logo{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    background: #fff;
    img{
        width: 5.5rem;
        // height: 8.5rem;
    }
}

@media (min-width:700px){

    .logo{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        background: #fff;
        img{
            width: 9rem;
            // height: 8.5rem;
        }
    }
}