
@import url("./styles/them.scss");

.container{
    margin-top: 15px;
    margin-bottom: 5px;
    height: calc(100% - 80px  );
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100vh; /* Full viewport height */
    flex-direction: column;
}


::ng-deep app-user{

    width: 100%;
}