@import '../../../styles/them.scss';

.detail-box{
    height: 100%;
    overflow-y: scroll;
    .ads_image{

        position: relative;
        height: 40% !important;
        ::ng-deep svg{
            color: #fff;
            height: 3rem;
            width: 3rem;
            background-color: #748DA6;
        }
        img{
            height: 100%;
            width: 100%;
        }
        .forward_icon{
            position: absolute;
            top: 9rem;
            right: 1rem;
            &.disabled{
                display: none;
            }
        }
        .backward_icon{
            position: absolute;
            top: 9rem;
            left: 1rem;
            &.disabled{
                display: none;
            }
        }

        .dot_icons{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: row-reverse;
            position: absolute;
            bottom: 1rem;
            .dot{
                margin: 0 0.125rem;
                width: 0.75rem;
                height: 0.75rem;
                border-radius: 50%;
                background: rgb(133, 130, 130);
            }
            .active_dot{
                background: #fff;
            }
        }
    }

    .chat{
        margin: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        button{
            background-color: $button_submit_color;
            color: #fff;
            width: $button_width;
            height: $button_height;
        }
        .danger{
            background-color: red;
        }
        p{
            margin: 0;
            background: $button_submit_color;
            color: #fff;
            min-width: 100px;
            justify-content: center;
            display: flex;
            align-items: center;
            border-radius: 8px;
            height: $button_height;
            padding: 1rem;
            font-size: 1rem;
        }
        p:hover{
            cursor: pointer;
        }
    }
}

.items-list{
    ul{
        border-radius: 0;
        li{
            border-left: 0;
            border-right: 0;
        }
        .items {
            padding: 5px;
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            p {
                margin: 0;
            }
        }    
    }
}