<div class="detail-box">
    <div class="ads_image">
        <!-- <div *ngIf="adsDetailData.images.length > 0; else ImageElseBlock"> -->
            <img [src]="adsDetailData.images[imageId].image" alt="" *ngIf="adsDetailData.images.length > 0; else ImageElseBlock">
        <!-- </div> -->
        <ng-template #ImageElseBlock>
            <img src="assets/profile_img/profile.png" alt="">
        </ng-template>
        <nb-icon 
        class="forward_icon" 
        icon="arrow-ios-forward-outline" 
        *ngIf="adsDetailData.images.length > 0"
        (click)="onSetImage('previous')"
        [class.disabled] = "imageId == 0"
        >

        </nb-icon>
        <nb-icon 
        class="backward_icon" 
        icon="arrow-ios-back-outline" 
        *ngIf="adsDetailData.images.length > 0" 
        (click)="onSetImage('next')"
        [class.disabled] = "imageId == adsDetailData.images.length-1"
        ></nb-icon>
        <div class="dot_icons" *ngIf="adsDetailData.images.length > 0" >
                <div class="dot" *ngFor="let image of  adsDetailData.images; let i = index" [class.active_dot]="i==imageId">
                </div>
        </div>
    </div>
    <div class="car_cat" *ngIf="category=='car'">
        <div class="items-list">
            <ul class="list-group">
                <li  class="list-group-item">
                    <div class="items">
                        <p> Title </p>
                        <span> {{adsDetailData.title}}  </span>
                    </div>
                </li>
                <li  class="list-group-item">
                    <div class="items">
                        <p> Body Type </p>
                        <span> {{adsDetailData.BodyType}}  </span>
                    </div>
                </li>
                <li  class="list-group-item">
                    <div class="items">
                        <p> Fuel Type </p>
                        <span> {{adsDetailData.FuelType}}  </span>
                    </div>
                </li>
                <li  class="list-group-item">
                    <div class="items">
                        <p> Mileage </p>
                        <span> {{adsDetailData.Mileage}}  </span>
                    </div>
                </li>
                <li  class="list-group-item">
                    <div class="items">
                        <p> Price </p>
                        <span> {{adsDetailData.Price}}  </span>
                    </div>
                </li>
                <li  class="list-group-item">
                    <div class="items">
                        <p> Status </p>
                        <span> {{adsDetailData.Status}}  </span>
                    </div>
                </li>
                <li  class="list-group-item">
                    <div class="items">
                        <p> Description </p>
                        <span> {{adsDetailData.description}}  </span>
                    </div>
                </li>
                <li  class="list-group-item">
                    <div class="items">
                        <p> Date </p>
                        <span> {{adsDetailData.created_date | timeAgo }} </span>
                    </div>
                </li> 
            </ul>
        </div>
    </div>
    <div class="real_estate_cat" *ngIf="category=='realestate'">
        <div class="items-list">
            <ul class="list-group">
                <li  class="list-group-item">
                    <div class="items">
                        <p> Title </p>
                        <span> {{adsDetailData.title}}  </span>
                    </div>
                </li>
                <li  class="list-group-item">
                    <div class="items">
                        <p> City </p>
                        <span> {{adsDetailData.City}}  </span>
                    </div>
                </li>
                <li  class="list-group-item">
                    <div class="items">
                        <p> Furnishing Status </p>
                        <span> {{adsDetailData.FurnishingStatus}}  </span>
                    </div>
                </li>
                <li  class="list-group-item">
                    <div class="items">
                        <p> Number Of Bedrooms </p>
                        <span> {{adsDetailData.NumberOfBedrooms}}  </span>
                    </div>
                </li>
                <li  class="list-group-item">
                    <div class="items">
                        <p> Price: </p>
                        <span> {{adsDetailData.Price}}$  </span>
                    </div>
                </li>
                <li  class="list-group-item">
                    <div class="items">
                        <p> Propertytype: </p>
                        <span> {{adsDetailData.Propertytype}}  </span>
                    </div>
                </li>
                <li  class="list-group-item">
                    <div class="items">
                        <p> Size </p>
                        <span> {{adsDetailData.Size}} meter  </span>
                    </div>
                </li>
                <li  class="list-group-item">
                    <div class="items">
                        <p> Status </p>
                        <span> {{adsDetailData.Status}} </span>
                    </div>
                </li>
                <li  class="list-group-item">
                    <div class="items">
                        <p> Title Deed Type </p>
                        <span> {{adsDetailData.TitleDeedType}} </span>
                    </div>
                </li>
                <li  class="list-group-item">
                    <div class="items">
                        <p> Category </p>
                        <span> {{adsDetailData.category.name}} </span>
                    </div>
                </li>
                <li  class="list-group-item">
                    <div class="items">
                        <p> Date </p>
                        <span> {{adsDetailData.created_date | timeAgo }} </span>
                    </div>
                </li>
                <li  class="list-group-item">
                    <div class="items">
                        <p> Description </p>
                        
                    </div>
                    <div class="items description">
                        <p> {{adsDetailData.description}} </p>
                    </div>
                </li>
    
   
            </ul>
        </div>

    </div>
    <div class="other_cat" *ngIf="category=='other'">
        <div class="items-list">
            <ul class="list-group">
    
                <li  class="list-group-item">
                    <div class="items">
                        <p> Title </p>
                        <span> {{adsDetailData.title}}  </span>
                    </div>
                </li>
                <li  class="list-group-item">
                    <div class="items">
                        <p> City </p>
                        <span> {{adsDetailData.City}}  </span>
                    </div>
                </li>
                <li  class="list-group-item">
                    <div class="items">
                        <p> Property Type</p>
                        <span> {{adsDetailData.Propertytype}}  </span>
                    </div>
                </li>
                <li  class="list-group-item">
                    <div class="items">
                        <p> Status </p>
                        <span> {{adsDetailData.Status}}  </span>
                    </div>
                </li>
                <li  class="list-group-item">
                    <div class="items">
                        <p> Category </p>
                        <span> {{adsDetailData.category.name}}  </span>
                    </div>
                </li>
                <li  class="list-group-item">
                    <div class="items">
                        <p> Date </p>
                        <span> {{adsDetailData.created_date | timeAgo}}  </span>
                    </div>
                </li>
            </ul>
        </div>

    </div>

    <div class="chat" >
        <button (click)="onChat()" type="submit" class="btn mt-1" >Chat</button>
    </div>

</div>
